<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
  body {background-color: lightgrey;}
  h1   {color: navy;}
  p    {color: tomato;}
  </style>

  <body>
    <%= yield %>
  </body>
</html>
